<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.limtec.dockapptoggler</string>
    <key>CFBundleName</key>
    <string>DockAppToggler</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.9.18</string>
    <key>CFBundleVersion</key>
    <string>1.9.18</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>DockAppToggler needs to control other applications to manage windows.</string>
    <key>NSSystemAdministrationUsageDescription</key>
    <string>DockAppToggler needs accessibility permissions to manage windows.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/LimTec-de/DockAppToggler/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>IAdDZbbjN2C8vfN0U+YM0RQ8G6EC7Ah7ndlfmTWIKjg=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
</dict>
</plist> 